---
layout: default
---

<nav>
  <div class="menu left">
    <ul>
      <li><a href="/">/</a></li>
      <li><a href="/about">about</a></li>
    </ul>
  </div>

  <div class="menu right">
    <ul>
      <li><a href="https://github.com/contraband/checkin">checkin</a></li>
      <li><a href="https://github.com/contraband/gaol">gaol</a></li>
      <li><a href="https://github.com/contraband/holler">holler</a></li>
      <li><a class="disabled" href="https://github.com/contraband/anderson">anderson</a></li>
      <li><a class="disabled" href="https://github.com/contraband/airfreight">airfreight</a></li>
    </ul>
  </div>
</nav>

{{ content }}
